# Python
__pycache__/
*.py[cod]
*.env
*.venv
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Test
htmlcov/
.coverage
.tox/

# Jupyter
.ipynb_checkpoints/

# Database
*.sqlite3
*.db

# Env
.env.* 